.cruises {
  display: flex;
  justify-content: center;
}

.cruises ul {
  justify-content: center;
  width: 50em;
  margin: 6em;
}
.cruises li {
  display: inline;
  align-content: center;
  list-style: none;
  width: 10em;
}

.cruises li img {
  margin: 2em;
  border: solid #454545;
  background-color: white;
  padding: 2em;
  width: 8em;
  height: 5em;
  object-fit: cover;
}
