.card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}

.container {
  width: 40%;
  height: 20%;
  background: #4d4d4d;
  border-radius: 5px;
  position: relative;
}

.btn{
  background-color: grey;
  border-radius: 1em;
}
.link{
  text-decoration: none;
}
.details {
  padding: 50px 0 0 50px;
}

.title {
    color: black;
    font-size: 40px;
    margin-bottom: 13px;
    line-height: normal;
    position: relative;
}


