.divBotones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #131313ea;
    font-size: 1em;
    color: beige;
}

.buttons:hover{
    background-color: #fcff4f;
    color:#131313ea ;
}