/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  background-color: #F6F6F6;
  height: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.navbar .wrapper-buttons {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}
.navbar .wrapper-buttons span {
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .navbar .wrapper-buttons {
    width: 100%;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro {
  padding: 10px 20px 10px 20px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .intro img {
  border-radius: 20px;
  width: 100%;
}
.home .music-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .music-images .tecnologia,
  .home .music-images .ondas {
    display: none;
  }
  .home .music-images .auricular {
    width: 100%;
  }
}
.home .music-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .musica-nueva {
  padding: 15px;
}
.home .musica-nueva h3 {
  margin-top: 11px;
}
.home .musica-nueva p {
  margin-top: 13px;
}
.home .actual {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .actual {
    margin-top: 0px;
    padding: 10px 20px;
    flex-direction: column-reverse;
  }
}
.home .actual .actual-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .actual .actual-text {
    width: 100%;
  }
}
.home .actual .actual-text h3 {
  margin-bottom: 10px;
}
.home .actual .actual-text p {
  margin-bottom: 26px;
}
.home .actual .actual-text .btn {
  background-color: #22283A;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}
.home .actual .actual-text .btn:hover {
  background-color: #F6F6F6;
  color: #22283A;
  border: #22283A solid 1px;
}
@media (max-width: 500px) {
  .home .actual .actual-text .btn {
    width: 100%;
  }
}
.home .actual .actual-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .actual .actual-img {
    width: 100%;
    margin-left: 0px;
  }
}
.home .actual .actual-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
