a:link,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  display: flex;
  margin: 2em;
  border: #454545 solid;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
  color: #f6f4e6;
  background-color: #454545;
  width: 30vw;
  height: 40vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s ease;
  text-decoration: none;
}

.container:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}
.container img {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
}

.container img:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
}

.container h4 {
  text-decoration: none;
}

.container h4:hover {
  color: #fddb3a;
}
