.infoBg {
   width: 30vw;
   height: 50vh;
   display: flex;
   flex-direction: column;
   font-family: Helvetica;
}

.infoTitle {
   font-family: Helvetica;
   font-size: 2.3vh;
   padding-left: 2rem;
   background-color: grey;
   margin-top: -0.1vh;
   height: 3vh;
}

.infoText {
   margin-left: 2vw;
   font-size: 3vh;
   margin-top: 3.5vh;
}
